parse_delay_sec: 1

employee:
  parse_url: 'https://www.pgups.ru/employee/?PAGEN_2={}&SIZEN_2=20'

schedule:
  parse_url: 'https://rasp.pgups.ru/files/b/{}/{}_{}.xlsx'
  parse_url_rasp: 'https://rasp.pgups.ru/search?page={}'
  year: 2024
  faculties:
    - 'ait'
    - 'pgs'
    - 'ts'
    - 'tes'
    - 'eim'
    - 'upl'
  course_numbers:
    - 1
    - 2
    - 3
    - 4
    - 5
